<section class="wrapper">
  <%- include('./partials/header') %>
  <div class="card">
    <form action="/auth/login">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        placeholder="enter your email here"
        size="30"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        size="30"
        placeholder="password should be 8 characters long"
      />
      <input type="submit" value="submit" />
    </form>
  </div>
  <%- include('./partials/footer') %>
</section>
