<div class="wrapper">
  <div class="card">
    <form action="/auth/check-user" method="post">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <input type="submit" class="submit">
    </form>
  </div>
</div>
