body {
  margin: 0px auto;
  font-family: "Roboto Condensed", sans-serif;
}footer {
  position: fixed;
  bottom: 0px;
}
header {
  width: 100%;
  background-color: dodgerblue;
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-around;
  color: white;
}
footer {
  padding: 1rem;
  background-color: dodgerblue;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
}